body {
  width: 100%;
  height: 100%;
}

.MoveToZero {
  width: 1427px;
}

.MoveToZero2 {
  border: 2px solid black;
  float: right;
}

.ZeroCarbon {
  border: 2px solid black;
  float: left;
  width: 719px;
  height: 315px;
  justify-content: center;
}

.Trending {
  display: flex;
  justify-content: space-between;
}
